<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
 <!-------- Navigation ------->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <a class="navbar-brand" href="#">Text-Utils.in</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>

     <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
     </div>
 </nav>

  <!--------- dismissable Alert -------->
  <div class="alert alert-success alert-dismissible fade show" role="alert">
     <strong>Hey there,  Welcome to TextUtils !</strong> Type to get words in desire form.
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
         <span aria-hidden="true">&times;</span>
     </button>
 </div>
 <div class="container w-50 mt-3">
   <form action="analyze" method="POST">{% csrf_token %}
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Enter your text here and let the textutil do the magic</label>
      <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>

     <div class="custom-control custom-switch">
       <input type="checkbox" name="analyze" class="custom-control-input" id="customSwitch2">
       <label class="custom-control-label" for="customSwitch2">Remove Punctuations</label>
     </div>

     <div class="custom-control custom-switch">
       <input type="checkbox" name="newlineremover" class="custom-control-input" id="customSwitch3">
       <label class="custom-control-label" for="customSwitch3">newlineremover</label>
     </div>

     <div class="custom-control custom-switch">
       <input type="checkbox" name="spaceremover" class="custom-control-input" id="customSwitch4">
       <label class="custom-control-label" for="customSwitch4">Extraspaceremover</label>
     </div>

     <div class="custom-control custom-switch">
       <input type="checkbox" name="upper" class="custom-control-input" id="customSwitch5">
       <label class="custom-control-label" for="customSwitch5">upper</label>
    </div>

       <button type="submit" class="btn btn-success">Success</button>
   </form>
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>